.grid {
  box-sizing: border-box;
  display: inline-grid;
  grid-template-rows: repeat(3, 30.5%);
  grid-auto-columns: 24.3%;
  gap: 9px;
  width: 974px;
  height: 673px;
  padding: 5px;
  margin-top: 11px;
  margin-left: 24px;
  overflow: visible;
  overflow-x: scroll;
}

.grid::-webkit-scrollbar {
  background-color: #d1dae3;
  width: 10px;
  height: 11px;
  border-radius: 8px;
}

.grid::-webkit-scrollbar-thumb {
  background-color: #21b8c6;
  border-radius: 8px;
}
