.gridItem {
  position: relative;
  box-shadow: 0 2px 10px rgba(194, 205, 216, 0.9);
  border-radius: 3px;
  overflow: hidden;

  .gridItem__infoArea {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;


    padding: 0 15px;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: 1s opacity;
  }

  &:hover .gridItem__infoArea {
    opacity: 1;
  }

  .gridItem__icon .gridItem__dislikes .gridItem__valueWrapper,
  .gridItem__icon .gridItem__likes .gridItem__valueWrapper {
    left: 17px;
  }

  .gridItem__icon {
    position: relative;
    width: 34px;
    height: 30px;

    .gridItem__valueWrapper {
      position: absolute;
      top: 0px;
      left: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      font: 600 11px OpenSans;
      color: $brand-colour--3;
    }

    &.gridItem__dislikes,
    &.gridItem__likes {
      .gridItem__valueWrapper {
        left: 17px;
      }
    }
  }

  .gridItem__comments {
    background: url("~@/assets/media/images/GridItem/comment_icon.png")
                center center/contain no-repeat;
  }

  .gridItem__likes {
    margin-bottom: 1px;
    background: url("~@/assets/media/images/GridItem/like_icon.png")
    center center/contain no-repeat;
  }

  .gridItem__dislikes {
    background: url("~@/assets/media/images/GridItem/dislike_icon.png")
    center center/contain no-repeat;
  }

  .gridItem__delete {
    background: url("~@/assets/media/images/GridItem/trash.png")
    center center/contain no-repeat;
  }

  .gridItem__itemImage {
    width: 100%;
    height: auto;
    transform: scale(2);
  }

  &:nth-child(9n+1) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: span 2;
  }

  &:nth-child(9n+2) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: span 1;
  }

  &:nth-child(9n+3) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: span 1;
  }

  &:nth-child(9n+4) {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column: span 1;
  }

  &:nth-child(9n+5) {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column: span 2;
  }

  &:nth-child(9n+6) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: span 1;

    .gridItem__itemImage {
      width: auto;
      height: 100%;
      transform: scale(2);
    }
  }

  &:nth-child(9n+7) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: span 1;
  }

  &:nth-child(9n+8) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: span 1;
  }

  &:nth-child(9n+9) {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column: span 1;
  }
}