//colours
$brand-colour--1: #8499a7;
$brand-colour--2: #21b8c6;
$brand-colour--3: #0d7f8a;
$brand-colour--4: #ffffff;
$brand-colour--5: #a0b0ba;
$brand-colour--6: rgba(194, 205, 216, 0.004);
$brand-colour--7: rgba(255, 255, 255, 0.95);

//popup
$default-button: #e0e5e9;
$like-button: #28d0ce;
$dislike-button: #d02828;

$popup-overlay: rgba(240, 243, 246, 0.8);
$border-color: #d1dae3;

$comment-info-colour: #95a7b3;
$comment-text-colour: #607583;
$comment-border-colour: #f0f3f6;
$comment-border-focused-colour: #21b8c6;