.addImagePopup {
  .popup__popupContent {
    padding: 78px 26px;
  }
}

.addImagePopup__searchPoleWrapper {
  display: flex;
  width: 50%;
  height: 30px;
  margin: auto;

}

.addImagePopup__searchPole {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin: auto;
  border: none;
  border-bottom: 2px solid $border-color;
  outline: none;
  font: 400 14px OpenSans;

  &:focus {
    border-bottom: 2px solid $comment-border-focused-colour;
  }
}

.addImagePopup__searchButton {
  width: 30px;
  height: 30px;
  background: $comment-border-focused-colour;
  border: none;

  .fa-search {
    color: #ffffff;
  }
}

.addImagePopup__imagesWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 0px 35px;
  margin-top: 20px;
}

.addImagePopup__imagesWrapper_centered {
  align-items: center;
  justify-content: center;
}

.addImagePopup__disclaimer {
  font: 600 20px OpenSans;
}

.addImagePopup__imageContainer {
  position: relative;
  width: 152px;
  height: 152px;
  margin-left: 16px;
  margin-bottom: 3px;
  overflow: hidden;

  .addImagePopup__image {
    width: 100%;
    height: auto;
  }

  .plusButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    opacity: 0;
    transition: 0.5s opacity;
  }

  &:hover .plusButton {
    opacity: 1;
  }

  &.addImagePopup__imageContainer_alreadyAdded {
    border: 2px solid $comment-border-focused-colour;
    pointer-events: none;
  }

  &.addImagePopup__imageContainer_newAdded {
    border: 2px solid $dislike-button;
  }
}